{#
SPDX-FileCopyrightText: 2026 spatterlight

SPDX-License-Identifier: AGPL-3.0-or-later
#}
hosts:
  - 1513629884013:
      url: "{{ wazuh_dashboard_api_url }}"
      port: {{ wazuh_manager_api_port }}
      username: "{{ wazuh_dashboard_api_username }}"
      password: "{{ wazuh_dashboard_api_password }}"
      run_as: false
